<div class="flex size-full flex-col p-2 md:p-4 xl:p-8 border dark:border-[--mdc-outlined-card-outline-color] rounded-[32px] shadow-2xl shadow-black">
    <h2 class="p-4 dark:text-white text-2xl">{{ 'contact.add' | translate }}</h2>
    <form [formGroup]="form" class="flex flex-col px-4 pb-4" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <button mat-flat-button type="submit" [disabled]="isLoading() || !form.valid">
            @if(isLoading()) {
            <mat-spinner diameter="24"></mat-spinner>
            } @else {
                {{ 'action.invite' | translate }}
            }
        </button>
    </form>
    @if(isLoadingPendingInvitations()) {
        <mat-spinner diameter="24"></mat-spinner>
    } @else {
        <app-pending-invitation-list [invitations]="pendingInvitations()"></app-pending-invitation-list>
    }
</div>