<p>1. Conditions Générales d’Utilisation (CGU)
    1. Introduction
    Les présentes Conditions Générales d’Utilisation (ci-après les « CGU ») ont pour objet de définir les modalités et conditions dans lesquelles la plateforme Workspace met à disposition de ses utilisateurs ses services.
    
    Workspace est une plateforme en ligne dédiée à la gestion d’événements à destination des entreprises et des particuliers. Elle permet aux utilisateurs de planifier, organiser, suivre et gérer divers types d’événements (séminaires, conférences, réunions, etc.) au sein d’un espace sécurisé et collaboratif.
    
    L’accès aux services proposés sur Workspace est subordonné à la création d’un compte utilisateur. Toute utilisation de la plateforme implique l’acceptation sans réserve des présentes CGU.
</p>

<p>2. Conditions d'accès et d'utilisation de la plateforme
    L’accès à la plateforme Workspace est entièrement gratuit. Tout utilisateur peut créer un compte et utiliser les services proposés sans frais.
    
    L’inscription est ouverte à toute personne physique ou morale, sans condition particulière, hormis la nécessité de fournir des informations exactes lors de la création de compte. L’utilisateur s’engage à garder confidentiels ses identifiants et à ne pas permettre l’accès à son compte par un tiers.
    
    Chaque utilisateur s’engage à utiliser la plateforme de manière conforme à sa destination. Il est interdit de porter atteinte au bon fonctionnement du service, d’accéder frauduleusement aux données d’autrui, ou d’exploiter la plateforme à des fins illégales.
    
    Workspace se réserve le droit de suspendre ou supprimer l’accès à tout compte en cas de non-respect des présentes CGU, sans préavis ni indemnité.</p>
