<div class="flex flex-row items-center space justify-between">
    <div class="flex flex-row">
        <p>{{ invitation().senderId }}</p>
        @switch (invitation().invitationType) {
        @case (0) {
        <p> wants to add you to the workspace </p>
        }
        @case (1) {
        <p>Event</p>
        }
        @case (2) {
        <p> wants to add you in contact</p>
        }
        }
    </div>

    <div class="flex flex-row">
        <button mat-icon-button (click)="accept()" [disabled]="isLoading()">
            @if (isAccepting()) {
                <mat-spinner diameter="24"></mat-spinner>
            } @else {
                <mat-icon>check</mat-icon>
            }
        </button>
        <button mat-icon-button (click)="refuse()" [disabled]="isLoading()">
            @if (isRefusing()) {
                <mat-spinner diameter="24"></mat-spinner>
            } @else {
                <mat-icon>close</mat-icon>
            }
        </button>
    </div>
</div>