<div class="flex size-full flex-col p-2 md:p-4 xl:p-8 border dark:border-[--mdc-outlined-card-outline-color] rounded-[32px] shadow-2xl shadow-black">
    <h2 class="p-4 dark:text-white text-2xl">{{ isUpdate() ? "Update Event " : "Create Event" }}</h2>
    <form [formGroup]="form" class="flex flex-col px-4 pb-4" (ngSubmit)="submit()">
      
      
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Event category</mat-label>
        <mat-select placeholder="Event categories" [multiple]="true" formControlName="eventCategoryIds">
          @for (e of eventCategories(); track e.id) {
            <mat-option [value]="e.id">{{e.name}}</mat-option>
          }
        </mat-select> 
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="start date">
      </mat-form-field>
      
      <div class="flex flex-row gap-2">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="startDate" formControlName="startDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="endDate" formControlName="endDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field> 
      </div>
  
      <app-date-time-picker></app-date-time-picker>
      <!-- <mat-slide-toggle [(ngModel)]="useRepetition" [ngModelOptions]="{standalone: true}">Use repetition</mat-slide-toggle>
      
      @if (useRepetition) {
        <mat-form-field appearance="outline" [hideRequiredMarker]="true" class="pt-5">
          <mat-label>Repetition</mat-label>
          <mat-select placeholder="Repetition" formControlName="repetitionInterval">
            <mat-option [value]="null">None</mat-option> 
            @for (e of repetitionInterval | keyvalue; track e.key) {
              <mat-option [value]="e.key">{{e.value}}</mat-option>
            }
          </mat-select> 
        </mat-form-field>
          
        <mat-form-field appearance="outline">
          <mat-label>Every</mat-label>
          <input matInput type="number" min="0" formControlName="repetitionNumber">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Repetition end date</mat-label>
          <input matInput [matDatepicker]="repetitionEndDate" formControlName="repetitionEndDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="repetitionEndDate"></mat-datepicker-toggle>
          <mat-datepicker #repetitionEndDate></mat-datepicker>
        </mat-form-field>
      } -->
      <button type="button" mat-flat-button (click)="openRepetitionDialog()">Make recurring</button>
      <button mat-flat-button type="submit" [disabled]="disabled() || !form.valid" class="my-4">
        @if(disabled()) {
            <mat-spinner diameter="24"></mat-spinner>
        } @else {
            <span>{{ isUpdate() ? "Update" : "Create"}}</span>
        }
      </button>
    </form>
  </div>
  