<div class="flex size-full">
    @if(isLoading()) {
    loading...
    } @else {
    @if (location()) {
    <div class="flex size-full flex-col px-4 md:px-6">
        <div class="flex w-full flex-col">
            <h1 class="text-4xl pb-4">{{ location()?.name}}</h1>
            <div class="flex justify-between">
                <span>{{ location()?.description}}</span>
            </div>
        </div>
        <app-area-list [locationId]="this.location()!.id"></app-area-list>
    </div>
    } @else {
    undefined
    }
    }
</div>