<div
  class="flex size-full flex-col p-2 md:p-4 xl:p-8 border dark:border-[--mdc-outlined-card-outline-color] rounded-[32px] shadow-2xl shadow-black">
  <h2 class="p-4 dark:text-white text-2xl">
    {{ isUpdate ? "Update Slot " : "Create Slot" }}
  </h2>
  <form [formGroup]="form" class="flex flex-col px-4 pb-4" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Event category</mat-label>
      <mat-select placeholder="Event categories" [multiple]="true" formControlName="eventCategoryIds">
        @for (e of eventCategories(); track e.id) {
        <mat-option [value]="e.id">{{ e.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="flex flex-row gap-2">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Start time</mat-label>
        <input matInput [matTimepicker]="startTime" formControlName="startTime" />
        <mat-timepicker-toggle matIconSuffix [for]="startTime" />
        <mat-timepicker #startTime />
      </mat-form-field>

      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>End time</mat-label>
        <input matInput [matTimepicker]="endTime" formControlName="endTime" />
        <mat-timepicker-toggle matIconSuffix [for]="endTime" />
        <mat-timepicker #endTime />
      </mat-form-field>
    </div>

    <div class="flex flex-row gap-2">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="startDate" formControlName="startDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>
    <button type="button" mat-flat-button (click)="openRepetitionDialog()">
      Make recurring
    </button>
    <button mat-flat-button type="submit" [disabled]="isLoading() || !form.valid" class="my-4">
      @if(isLoading()) {
      <mat-spinner diameter="24"></mat-spinner>
      } @else {
      <span>{{ isUpdate ? "Update" : "Create" }}</span>
      }
    </button>
  </form>
</div>