<div class="flex flex-row justify-between">
  <div>
    <p>{{ name() }}</p>
  </div>
  <div>
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="contactMenu" aria-label="Action Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #contactMenu>
      <button mat-menu-item [matMenuTriggerFor]="workspace" aria-label="Add to workspace">
        <span>{{ 'contact.invite' | translate }}</span>
      </button>
      <mat-menu #workspace>

        @for (workspace of workspaces(); track workspace.id) {
          <button mat-menu-item aria-label="Dark" (click)="inviteToWorkspace(workspace.id)" [disabled]="isLoading() === workspace.id">
            @if (isLoading() === workspace.id) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              <span>{{ workspace.name }}</span>
            }
          </button>
        } 
      </mat-menu>
    </mat-menu>
  </div>
</div>
