<div class="flex w-full justify-between overflow-hidden">
    <div class="flex items-center gap-2">
        <button mat-icon-button aria-label="TODO" (click)="toggleSidebar()">
            <mat-icon>{{ isSideBarOpen() ? "arrow_back_ios_new" : "arrow_forward_ios" }} </mat-icon>
        </button>
        <span class="text-xl">1st August</span>
    </div>
    <div class="flex items-center gap-2">
        
        <button mat-stroked-button aria-label="TODO">Today</button>
        <button mat-icon-button aria-label="TODO">
            <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
        <button mat-icon-button aria-label="TODO">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="w-24">
            <mat-select value="0">
                <mat-option value="0">Day</mat-option>
                <mat-option value="1">Week</mat-option>
                <mat-option value="2">Month</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>