
<div class="flex size-full">
@if(!isLoading()) {
    @if (workspace() != null) {
        <div class="flex size-full flex-col">
            <div class="flex w-full flex-col px-4 md:px-6">
                <h1 class="text-4xl pb-4">{{ workspace()?.name}}</h1>
                <div class="flex justify-between">
                    <span>{{ workspace()?.description}}</span>
                    <button mat-flat-button>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                </div>
            </div>
            <div class="flex flex-col size-full p-4 md:p-6">
                <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)">
                    <mat-tab label="Members"></mat-tab>
                    <mat-tab label="Locations"></mat-tab>
                    <mat-tab label="Participants"></mat-tab>
                    <mat-tab label="Participant Categories"></mat-tab>
                    <mat-tab label="Event Categories"></mat-tab>
                    <mat-tab label="Roles"></mat-tab>
                    <mat-tab label="Slots"></mat-tab>
                    <mat-tab label="Tags"></mat-tab>
                </mat-tab-group>
                <router-outlet [routerOutletData]="workspace()!.id"/>
            </div>
        </div>
    } @else {
        <div class="content-center">Workspace not found.</div>
    }
} @else {

}
</div>

    
