

<div class="flex size-full">
    <mat-sidenav-container [hasBackdrop]="showOver()" [style.flex]="'1 0 auto'" class="z-50 !flex">
        <mat-sidenav #sidebar [(opened)]="isSideBarOpen" autoFocus="false" [mode]="sidenavMode()" [fixedInViewport]="true" [fixedTopGap]="56" class="!w-64 !rounded-none">
            <!-- <app-full-calendar-sidebar 
                [(selectedDateRange)]="selectedDate">
            </app-full-calendar-sidebar> -->
            <div class="flex flex-col overflow-hidden">
                <mat-calendar
                    [(selected)]="selectedDate" 
                    (selectedChange)="selectedChange($event)"
                    >
                </mat-calendar>
            </div>  
        </mat-sidenav>
        <mat-sidenav-content class="!mr-0 !flex size-full">
            <div class="left-0 top-0 right-0 bottom-0 flex flex-col size-full">
                <app-full-calendar-header 
                    (todayChange)="setToday()"
                    [todayDisable]="todayDisable()"
                    (nextChange)="next()"
                    (prevChange)="previous()"
                    [dateTitle]="dateTitle()" 
                    [(isSideBarOpen)]="isSideBarOpen" 
                    [(viewMode)]="viewMode" 
                    (viewModeChange)="viewModeChange($event)">
                </app-full-calendar-header>
                <full-calendar #calendar [options]="calendarOptions()"></full-calendar>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
