@use 'sass:map';
// Custom Theming for Angular Material
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

$_palettes: (
  primary: (
    0: #000000,
    10: #1a1c1c,
    20: #2f3131,
    25: #3a3c3c,
    30: #454747,
    35: #515353,
    40: #1f1f1f,
    50: #767777,
    60: #909191,
    70: #aaabab,
    80: #ffffff,
    90: #e2e2e2,
    95: #f0f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1b1b1b,
    20: #303030,
    25: #3b3b3b,
    30: #474747,
    35: #525252,
    40: #5e5e5e,
    50: #777777,
    60: #919191,
    70: #ababab,
    80: #c6c6c6,
    90: #e2e2e2,
    95: #f1f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1b1c1c,
    20: #303031,
    25: #3b3b3c,
    30: #464747,
    35: #525252,
    40: #5e5e5e,
    50: #777777,
    60: #919190,
    70: #ababab,
    80: #c7c6c6,
    90: #e3e2e2,
    95: #f2f0f0,
    98: #faf9f9,
    99: #fdfcfb,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b1b,
    20: #313030,
    25: #3c3b3b,
    30: #474646,
    35: #535252,
    40: #5f5e5e,
    50: #787776,
    60: #929090,
    70: #adabaa,
    80: #c9c6c5,
    90: #ffffff,
    95: #f4f0ef,
    98: #ffffff,
    99: #f6feff,
    100: #ffffff,
    4: #0e0e0e,
    6: #0f0f0f, 
    12: #201f1f,
    17: #2a2a2a,
    22: #353434,
    24: #3a3939,
    87: #ddd9d9,
    92: #ebe7e7,
    94: #eeeeee,
    96: #f6f3f2,
  ),
  neutral-variant: (
    0: #000000,
    10: #181c1d,
    20: #2d3132,
    25: #383c3d,
    30: #444748,
    35: #4f5354,
    40: #5b5f60,
    50: #747878,
    60: #8e9192,
    70: #a8acac,
    80: #c4c7c8,
    90: #e0e3e3,
    95: #eef1f2,
    98: #f7fafa,
    99: #fafdfd,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  density: (
    scale: 0,
  )
));
$dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  density: (
    scale: 0,
  )
));

:root {
 
  --mat-app-background-hover-color: #e6e6e6;
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.button-theme($light);
  @include mat.icon-theme($light);
  @include mat.icon-button-theme($light);
  @include mat.menu-theme($light);
  @include mat.tooltip-theme($light);
  @include mat.sidenav-theme($light);
  @include mat.form-field-theme($light);
  @include mat.card-theme($light);
  @include mat.input-theme($light);
  @include mat.progress-spinner-theme($light);
  @include mat.tabs-theme($light);
  @include mat.table-theme($light);
  @include mat.paginator-theme($light);
  @include mat.select-theme($light);
  @include mat.option-theme($light);
  @include mat.dialog-theme($light);
  @include mat.datepicker-theme($light);
  @include mat.timepicker-theme($light);
  @include mat.slide-toggle-theme($light);
  @include mat.expansion-theme($light);
  @include mat.tooltip-theme($light);
  @include mat.badge-theme($light);
  @include mat.chips-theme($light);
  @include mat.dialog-overrides((
    container-max-width: 100%,
  ));

  


  // Calendar
  .fc-theme-standard .fc-scrollgrid {
    border: none !important;
  }
  .fc-theme-standard th {
    border: none !important;
  }
  .fc-scrollgrid-section {
    [role="presentation"] {
      border: none!important;
    }
  }
  .fc-timegrid-col {
    border-left: none !important;
  }
  .fc-scrollgrid-section-header {
    .fc-scroller-harness {
      .fc-scroller {
        overflow: hidden!important;
        border-bottom: 1 px solid var(--fc-border-color) !important;
      }
    }
  }
}

.dark {
  --fc-border-color: #4b4c4e !important;
  --mat-app-background-hover-color: #252629;
  @include mat.button-color($dark);
  @include mat.icon-color($dark);
  @include mat.icon-button-color($dark);
  @include mat.menu-color($dark);
  @include mat.tooltip-color($dark);
  @include mat.sidenav-color($dark);
  @include mat.form-field-color($dark);
  @include mat.card-color($dark);
  @include mat.input-color($dark);
  @include mat.progress-spinner-color($dark);
  @include mat.tabs-color($dark);
  @include mat.table-color($dark);
  @include mat.paginator-color($dark);
  @include mat.select-color($dark);
  @include mat.option-color($dark);
  @include mat.dialog-color($dark);
  @include mat.datepicker-color($dark);
  @include mat.timepicker-color($dark);
  @include mat.slide-toggle-color($dark);
  @include mat.expansion-color($dark);
  @include mat.tooltip-color($dark);
  @include mat.badge-color($dark);
  @include mat.chips-color($dark);
  @include mat.paginator-overrides((
    container-background-color: var(--mdc-elevated-card-container-color),
  ))
}

// Global styles

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// fix alignment icon in button
.mat-mdc-icon-button {
  line-height: normal;
}
// fix border on mat-form-outlined with labels 
.mat-mdc-notch-piece {
  border-right: 1px transparent;
}
// width of action column in mat-table
.mat-column-action {
  max-width: 56px;
}
// hover effect on mat-table
.mat-mdc-row:hover .mat-mdc-cell {
  cursor: pointer;
  background-color: var(--mat-app-background-hover-color);
}


// TODO voir si utilisé
.mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
}


.form-field-h40 {
  @include mat.form-field-density(-3);
  @include mat.form-field-overrides((
    filled-with-label-container-padding-bottom: none,
  ))
}


